# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text files
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.py text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.mesh binary
*.ydr binary
*.flver binary
*.jar binary
*.zip binary
